
html, body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    background-color: #eeefe5;
}
h1, h2, h3, h4 {
    font-family: 'Able', sans-serif;
}

b, strong {
    font-weight: 400;
}

.carousel-caption {
    z-index: 10;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 50px;
    left: 0;
    min-width: 100%;
    height: auto;
}
.carousel-inner > .item {
    height: 500px;
}

.intro-block {
    background: url(../images/background.png) repeat;
    padding: 100px 15px 60px;
    color: #fff;
}

.text-muted {
    color: #e9e6df;
    font-weight: 100;
}

.tpad {
    padding-top: 20px;
}

.padded {
    padding: 100x 15px;
}

.marketing {
    background-color:  #e9e6df;
}

hr {
    border-top: 1px solid #c9c9c9;
}
.info {
    background: #ffa753 url(../images/orange-skyline-md.png) repeat-x bottom;
    padding: 80px 0;
    
}

.info small {
    color: #eeefe9;
}

.info a {
    color: #fff;
}

.info a:hover {
    color: #333;
}

.tab-pane {
    padding: 40px 10px 0 10px
}

.ftr {
    background: url(../images/background.png) repeat-x bottom;
    padding: 80px 0 60px 0;
}

.ftr address, .ftr a, .ftr p {
    color: #fff;
}

.ftr_space {
    padding: 0 10px;
}

@media(min-width: 768px) {
    .carousel-inner > .item {
        height: 700px;
    }
}